:root {
  --yellow-text: #ff9900;
  --primary-text: #7d7987;
  --border-color: #eceff2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 59.2rem;
  height: 100vh;
  margin-inline: auto;

  font-size: 1.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container__title {
  font-size: 4.9rem;
  font-weight: 400;

  margin: 7.2rem 0 3.2rem;
  line-height: 5.6rem;
}

.container__title .yellow-text {
  font-weight: 700;
}

.container__text {
  line-height: 2.8rem;
  color: var(--primary-text);
}

.yellow-text {
  color: var(--yellow-text);
}

.footer {
  margin-top: 7.2rem;
  width: 100%;
  border-top: 1px solid var(--border-color);
}

.footer__social-media {
  margin-top: 0.8rem;
}

.footer__social-media a {
  text-decoration: underline;
}

.footer__social-media a:first-child {
  margin-right: 3ch;
}

.balls-decoration {
  position: absolute;
  right: 0;
  bottom: 0;
}
